/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` ../img/sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` ../img/sprite -->
<img class="icon-home" />
```
*/
.i-arrow {
  background-image: url(../img/sprite.png);
  background-position: 0px -99px;
  width: 10px;
  height: 38px;
}
.i-email-gray {
  background-image: url(../img/sprite.png);
  background-position: -40px -80px;
  width: 22px;
  height: 16px;
}
.i-email {
  background-image: url(../img/sprite.png);
  background-position: -62px -80px;
  width: 16px;
  height: 12px;
}

.i-tw {
  background-image: url(../img/sprite.png);
  background-position: -114px 0px;
  width: 38px;
  height: 40px;
}
.i-tw:hover {
  background-image: url(../img/sprite.png);
  background-position: -114px -40px;
  width: 38px;
  height: 40px;
}
.i-vk {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 38px;
  height: 40px;
}
.i-vk:hover {
  background-image: url(../img/sprite.png);
  background-position: -38px 0px;
  width: 38px;
  height: 40px;
}
.i-fb {
  background-image: url(../img/sprite.png);
  background-position: 0px -40px;
  width: 38px;
  height: 40px;
}
.i-fb:hover {
 background-image: url(../img/sprite.png);
  background-position: -76px 0px;
  width: 38px;
  height: 40px;
}

.i-github {
  background-image: url(../img/sprite.png);
  background-position: -76px -40px;
  width: 38px;
  height: 40px;
}
.i-github:hover {
  background-image: url(../img/sprite.png);
  background-position: -38px -40px;
  width: 38px;
  height: 40px;
}
.i-key {
  background-image: url(../img/sprite.png);
  background-position: 0px -80px;
  width: 21px;
  height: 19px;
}
.i-locked {
  background-image: url(../img/sprite.png);
  background-position: -10px -99px;
  width: 18px;
  height: 21px;
}
.i-unlocked {
  background-image: url(../img/sprite.png);
  background-position: -10px -99px;
  width: 18px;
  height: 21px;
}
.i-skype {
  background-image: url(../img/sprite.png);
  background-position: -21px -80px;
  width: 19px;
  height: 19px;
}
.i-telephone {
  background-image: url(../img/sprite.png);
  background-position: -28px -99px;
  width: 16px;
  height: 21px;
}

.sprite-brief{
    width: 21px;
    height: 19px;
    background-position: -5px -5px;
}

.sprite-file {
    background-image: url(../img/sprites2.png);
    width: 15px;
    height: 20px;
    background-position: -36px -5px;
}

.sprite-graduate {
      background-image: url(../img/sprites2.png);
    width: 27px;
    height: 18px;
    background-position: -5px -35px;
     left: 15px!important;
}

.sprite-school {
      background-image: url(../img/sprites2.png);
    width: 21px;
    height: 21px;
    background-position: -61px -5px;
}
