* {
	margin: 0;
	padding: 0;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
body, html {
	width: 100%;
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font-size: 14px;
	font-family:Fira Sans, sans-serif;
	background-image: url(../img/bg.png);
    background-repeat: repeat-x repeat-y;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;	
	min-height: 100%;
	position: relative;
	padding-bottom: 40px;
	
}


/* Øàïêà
-----------------------------------------------------------------------------*/
.header{
	height: 105px;
	background: #eff3f7;
  position: relative;
  margin: 0 auto;
}
.cssgradients .header:after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0),rgba(44,133,152,1.0), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(44,133,152,1.0), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(44,133,152,1.0), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(44,133,152,1.0), rgba(0,0,0,0)); 
}
.no-cssgradients .header{
  background:#eff3f7 url('../img/educ.png')  bottom center no-repeat;
}
.header_content{
max-width:1024px;
margin:0 auto;
}

.logo{
float:left;
display:inline-block;
margin-top:23px;
width:250px;
}
.logo img:first-child{
margin-right:10px;
}
.logo img:last-child{
float:right;
}
.logo-text{
	position: absolute;
	top:0;
	left:-99999px
}





/*

float: right;
margin: 26px 86px 0 0;
vertical-align: top;
}
.socbar {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
}

.socbar-fb {
  width: 22px;
  height: 34px;
  background-position: 1px 3px;  
  display: inline-block;
}

.socbar-fb:hover {

  background-position: -20px 3px;
}
.socbar-vk {
  width: 28px;
  height: 30px;
  background-position: -190px 6px;
}

.socbar-vk:hover {
  background-position: -216px 6px;
}
.socbar-twitter {
  width: 28px;
  height: 30px;
  background-position: -124px 7px;
}

.socbar-twitter:hover {
  background-position: -159px 7px;
}

.socbar-git {
  width: 30px;
  height: 32px;
  background-position: -47px 5px;
}

.socbar-git:hover {
  background-position: -87px 5px;
}
.circle {
  float: left;
  width: 42px;
  height: 43px;
  line-height: 1;
  text-align: center;
  margin: 0 13px 0 0;
  background-color: white;
  background-image: -webkit-linear-gradient(bottom, #e9e6e4 0%, #fbf9f9 94%, #fff 100%);
  background-image: -o-linear-gradient(bottom, #e9e6e4 0%, #fbf9f9 94%, w#fff  100%);
  background-image: linear-gradient(to top, #e9e6e4 0%, #fbf9f9 94%, whi#fff 100%);
  border: 1px solid rgba(195, 194, 194, 0.27);
  box-shadow: 0 2px 1px rgba(9, 9, 9, 0.31), 
    inset 0 -2px 3px rgba(41, 41, 41, 0.05), inset 0 0 3px #f6f7f7;
  border-radius: 50%;
}
*/





.social_block{
float:right;
margin-top:23px;
}
.social_block .social-list{
    list-style: none;
}
 .social_block .social-list li{   
 display: inline-block;
 }
.social-list .social { 
	display: block; 
    width: 47px;
    height: 47px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	margin-right:10px;

}
.social-list .social.vk{  
background: url('../img/vk.png') no-repeat center center;
}
.social-list .social.vk:hover{  
background: url('../img/vk_hover.png') no-repeat center center;
}
.social-list .social.fb{  
background: url('../img/fb.png') no-repeat center center;
}
.social-list .social.fb:hover{  
background: url('../img/fb_hover.png') no-repeat center center;
}
.social-list .social.tw{  
background: url('../img/tw.png') no-repeat center center;
}
.social-list .social.tw:hover{  
background: url('../img/tw_hover.png') no-repeat center center;
}
.social-list .social.gihtub{  
background: url('../img/gihtub.png') no-repeat center center;
margin-right:0px;
}
.social-list .social.gihtub:hover{  
background: url('../img/gihtub_hover.png') no-repeat center center;
margin-right:0px;
}

 
 
/* Òåëî
-----------------------------------------------------------------------------*/
.content {
	max-width:1024px;
	margin:0 auto;
	background-image: url(../img/bg.png);
    background-position: left, right;
    background-repeat: repeat-y, repeat-y;
}
.right{float:left;}

ul#menu {
margin-top:39px;
width:250px;
list-style:none;
border-radius:5px;
background-color:#eff3f7;
}
#menu li{
padding:25px 25px;
border-bottom:2px solid #3ba8c0;
color:#3ba8c0;
}
#menu li:first-child{
border-radius:5px 5px 0 0;
}
#menu li:last-child{
border-radius:0 0 5px 5px;
border-bottom:none;
}
#menu li:hover{
background-color:#3ba8c0;
}

#menu li a{
font-size:18px;
color:#3ba8c0;
text-decoration:none;
}
#menu li:hover a{
color:#fff;
}


.left{
float:right;
width:700px;
margin-top:39px;
}

.staj{
float:left;
background-color:#eff3f7;
height:100%;
width:100%;
margin-bottom:26px;
}
.staj h3{
padding:25px 25px;
border-bottom:2px solid #3ba8c0;
font-weight:300;
color:#3ba8c0;
}
.staj ul{
padding:27px 58px;
list-style:none;}
.staj ul li {
background:url(../img/portfel.png) no-repeat;
padding-left:55px;
display:block;
margin-bottom:20px;
}
.education{
float:left;
background-color:#eff3f7;
height:100%;
width:100%
}
hr.gradient {
    border: 0;
    height: 3px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0),rgba(44,133,152,1.0), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(44,133,152,1.0), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(44,133,152,1.0), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(44,133,152,1.0), rgba(0,0,0,0)); 
	width:80%;
	margin:0 auto;
}
.education h3{
padding:25px 25px;
border-bottom:2px solid #3ba8c0;
font-weight:300;
color:#3ba8c0;
}
.education ul{
padding:27px 58px;
list-style:none;}
.education ul li {
background:url(../img/educ.png) no-repeat;
padding-left:55px;
display:block;
margin-bottom:20px;
}
.education ul li:first-child{
background:url(../img/doc.png) no-repeat;
}
/* Ïîäâàë
-----------------------------------------------------------------------------*/
.clear{height:0px;clear:both}
.footer {
	width: 100%;

	height: 100%;
	max-height:65px;
	background: #eff3f7;
	position: relative;
}
.foter_content{
margin:0 auto;
max-width:1024px;
text-align:center;
padding-top:20px;
}